.MovieDetail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: white;

  &::before {
    content: "";
    opacity: 0.4;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #000000d2;
    filter: blur(20px);
  }

  // info
  .info-wrap {
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    width: 40%;
    margin: 80px 0px 100px 30px;
    height: 50vh;

    h1 {
      font-size: 45px;
    }

    .tagline {
      margin-bottom: 10px;
      font-size: 18px;
      font-style: italic;
    }

    .sm-info {
      margin-bottom: 10px;
      font-size: 15px;

      span {
        margin: 0px 1px;

        &:not(:nth-of-type(5))::after {
          content: "·";
          margin-left: 2px;
        }
      }

      .adult {
        width: 20px;
      }
    }

    p {
      font-size: 15px;
      text-align: justify;
    }

    .modal-90w {
      z-index: 10000;
    }

    .play-btn {
      font-family: "Noto Sans KR", sans-serif;
      font-size: 14px;
      padding: 5px 15px;
      box-shadow: none;
    }

    .modal-btn {
      margin-left: 10px;
      background-color: rgba(97, 97, 97, 0.5);
      border: none;
      font-family: "Noto Sans KR", sans-serif;
      font-size: 14px;
      padding: 5px 15px;
      box-shadow: none;
    }
  }

  // recommend-wrap
  .recommends-wrap {
    z-index: 3;
  }

  .review-wrap {
    z-index: 3;
    background-color: #141414;
    width: 100%;
    height: 600px;
  }
}

// modal
.modal-content {
  background-color: #141414 !important;
  color: white !important;

  .modal-header {
    border-bottom: 1px solid #5050502d;

    h5 {
      margin: 0;
      font-weight: 300;
    }

    .btn-close {
      filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(180deg);
      box-shadow: none !important;
    }
  }

  .modal-body {
    .youtube {
      display: flex;

      iframe {
        width: 100%;
      }
    }
  }

  .modal-footer {
    border: none;
    padding: 0;
  }
}
