.Banner {
  height: 83vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;

  &::before {
    content: "";
    background-image: linear-gradient(to top, #141414, transparent);
    position: absolute;
    left: 0;
    height: 83vh;
    width: 100%;
  }

  .banner-info {
    color: white;
    position: absolute;
    z-index: 3;
    width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    margin-top: 30px;

    .title {
      font-size: 2.8rem;
      letter-spacing: -1.3px;
      margin-bottom: 0;
    }

    .rank {
      color: #d32f2f;
      margin: 15px 0;
      font-size: 20px;
      font-weight: 500;
    }

    .overview {
      text-align: justify;
      font-weight: 300;
      font-size: 15px;
      letter-spacing: 0.3px;
      margin-bottom: 0;
    }

    .play-btn {
      font-family: "Noto Sans KR", sans-serif;
      font-size: 14px;
      padding: 5px 15px;
      box-shadow: none;
      margin-top: 15px;
    }
  }
}

@media (max-width: 645px) {
  .Banner {
    .banner-info {
      width: 95%;
    }
  }
}
