@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";

.MoviePage {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  // filter
  .filter {
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 55vw;
    z-index: 3;
    margin-bottom: 20px;

    label {
      color: #6b6b6b;
      font-size: 13px;
      margin-top: 3px;
      box-shadow: none;
    }
    .select {
      background-color: rgba(255, 255, 255, 0.781);
      border-radius: 4px;
      font-size: 14px;

      .MuiInputBase-input {
        font-size: 12px !important;
      }
    }
  }

  // list
  .list {
    width: 55vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .card-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      margin-bottom: 10px;
    }

    p {
      color: white;
      font-weight: 300;
    }
  }

  .pagination {
    background-color: #303030;
    border-radius: 5px;
    margin: 40px 0px;

    .page-item {
      a {
        background-color: transparent;
        border: none;
        color: #ccc;
        font-size: 13px;
        padding: 8px 14px;

        &:focus,
        &:hover {
          box-shadow: none;
          outline: 0;
          border: none;
          background-color: #6b6b6bd7;
        }
      }

      &.active {
        background-color: #6b6b6bd7;
        border: none;
      }
    }
  }
}
